
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #e6e6e6, #f5f5f5);
  margin: 0;
  padding: 0;
}

.main-container {
  width: 860px;
  margin: auto;
  background: white;
  border: 1px solid #ccc;
}

.top-bar {
  background: #0073c6;
  color: white;
  font-size: 14px;
  padding: 3px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fecha {
  margin-left: 4px;
}

.inicio {
  color: #003366;
  margin-left: auto;
  margin-right: 10px;
  font-weight: bold;
}

.usuario {
  color: black;
  margin-right: 10px;
}

.cerrar {
  font-size: 11px;
}

.sub-bar {
  background: #e6f3fc;
  font-size: 12px;
  padding: 4px 10px;
  color: #003366;
  display: flex;
  justify-content: space-between;
}

.header-image img {
  width: 100%;
  height: auto;
}

.content-box {
  display: flex;
  border-top: 5px solid #0d4d91;
  border-bottom: 5px solid #0d4d91;
  background: #fff;
}

.left-panel {
  width: 120px;
  padding: 10px;
  text-align: center;
}

.foto {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.anio {
  font-size: 12px;
}

.center-panel {
  width: 370px;
  padding: 10px;
  border-right: 1px dashed #ccc;
}

.mensajes .icon {
  vertical-align: middle;
  margin-right: 5px;
}

.rojo {
  color: red;
  font-weight: bold;
}

.right-panel {
  width: 300px;
  padding: 10px;
  text-align: center;
}

.transacciones .icon {
  vertical-align: middle;
}

.examen-btn {
  background: linear-gradient(#0194e0, #007ac2);
  border: 1px solid #006bb3;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: bold;
  margin-top: 10px;
}

.examenes {
  background: white;
  border-top: 5px solid #0d4d91;
  padding: 10px;
}

.titulo {
  font-weight: bold;
  color: #0d4d91;
  font-size: 14px;
  margin-bottom: 5px;
}

.nro {
  background: #e5f1fc;
  color: #0073c6;
  padding: 2px 6px;
  margin-right: 10px;
}

.volver-bar {
  padding: 10px;
  font-size: 12px;
  background: #fff;
  border-bottom: 5px solid #0d4d91;
}

.footer {
  background: #69c1f0;
  padding: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.footer img {
  height: 40px;
  margin-right: 10px;
}

.contacto {
  margin-left: auto;
  font-weight: bold;
}

.transac {
  color: #299AD6;
    font-size: 14px;
    font-weight: bold;
    height: 28px;

}